@{
    ViewBag.Title = "About";
}


<div id="about">
    <div class="container" style="text-align: center; margin: 80px;">
        <div class="abouttext">
            <h1 style="margin-bottom: 50px">Wanderlust?</h1>
            <p>If you are a person who loves travelling than you have come to the right place!</p>
            <p> Explore is a Pakistani site where you can explore all the breathtaking places of Pakistan.</p>
            <p>You can register to our site in order to avail all the packages to quench you thirst for an adventure!</p>
        </div>
    </div>
</div>
