@{
    ViewBag.Title = "Home Page";
}
<!-- Video Start -->
<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="~/video/myvideo.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
        <div class="d-flex text-center h-100" style="margin-top: 20px">
            <div class="my-auto w-100 text-white">
                <h1 class="display-3" style="  font-size: 77px;color: white;
    font-weight: 700;">
                    Discover the World
                </h1>
                <h2 style="    color: white;
    font-weight: 700;">
                    Make Memories and have a Lot of Fun!!!
                </h2>
                <h4 style="color: white;
    font-size: 30px;
    letter-spacing: 7px;">
                    There is nothing quite like traveling, like seeing a new place for the first time or returning to a favorite place. People of all ages, from all countries, travel to foreign places for many different reasons.
                </h4>
            </div>
        </div>
    </div>
</header>
<!-- Video End -->
<!-- Jumbotron Black Start -->
<div class="jumbotron jumbotron-primary">
    <div class="container">
        <div class="col-lg-9">
            <h2>Everything you need to know about Travel.</h2>
            <p class="lead">TRAVEL IS THE ONLY THING YOU BUY THAT MAKES YOU RICHER!</p>
            <div class="input-group">
                <span class="input-group-btn">
                    <a class="btn btn-primary" type="button" href="~/Tour/AllPackages/">Travel With Us</a>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- jumbotron End -->
<!-- Image Start -->
<!-- Image End -->
<!-- Cards Start -->
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="cuadro_intro_hover " style="background-color:#cccccc; margin-bottom: 20px;">
                <p style="text-align:center;">
                    <img src="~/images/travel.jpg" class="img-responsive" alt="">
                </p>
                <div class="caption">
                    <div class="blur"></div>
                    <div class="caption-text">
                        <h3 style="border-top:2px solid #eb2251; border-bottom:2px solid red; padding:10px;">Historical Places</h3>
                        <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                        <a class=" btn btn-default" href="~/Tour/RelatedPackages/"><span class="glyphicon glyphicon-plus"> Get Package</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="cuadro_intro_hover " style="background-color:#cccccc;margin-bottom: 20px;">
                <p style="text-align:center;">
                    <img src="~/images/el_nido_hidden_beach.jpg" class="img-responsive" alt="">
                </p>
                <div class="caption">
                    <div class="blur"></div>
                    <div class="caption-text">
                        <h3 style="border-top:2px solid #eb2251; border-bottom:2px solid red; padding:10px;">Northern Areas</h3>
                        <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                        <a class=" btn btn-default" href="~/Tour/RelatedPackages/"><span class="glyphicon glyphicon-plus"> Get Package</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="cuadro_intro_hover " style="background-color:#cccccc; margin-bottom: 20px;">
                <p style="text-align:center; ">
                    <img src="~/images/monal.jpg" class="img-responsive" alt="">
                </p>
                <div class="caption">
                    <div class="blur"></div>
                    <div class="caption-text">
                        <h3 style="border-top:2px solid #eb2251; border-bottom:2px solid red; padding:10px;">Monuments</h3>
                        <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                        <a class=" btn btn-default" href="~/Tour/RelatedPackages/"><span class="glyphicon glyphicon-plus"> Get Package</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="cuadro_intro_hover " style="background-color:#cccccc; margin-bottom: 20px;">
                <p style="text-align:center;">
                    <img src="~/images/4.jpg" class="img-responsive" alt="">
                </p>
                <div class="caption">
                    <div class="blur"></div>
                    <div class="caption-text">
                        <h3 style="border-top:2px solid #eb2251; border-bottom:2px solid red; padding:10px;">Beaches</h3>
                        <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                        <a class=" btn btn-default" href="~/Tour/RelatedPackages/"><span class="glyphicon glyphicon-plus"> Get Package</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="cuadro_intro_hover " style="background-color:#cccccc; margin-bottom: 20px;">
                <p style="text-align:center;">
                    <img src="~/images/3.jpg" class="img-responsive" alt="">
                </p>
                <div class="caption">
                    <div class="blur"></div>
                    <div class="caption-text">
                        <h3 style="border-top:2px solid #eb2251; border-bottom:2px solid red; padding:10px;"> Valleys</h3>
                        <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                        <a class=" btn btn-default" href="~/Tour/RelatedPackages/"><span class="glyphicon glyphicon-plus"> Get Package</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="cuadro_intro_hover " style="background-color:#cccccc; margin-bottom: 20px;">
                <p style="text-align:center;">
                    <img src="~/images/8.jpg" class="img-responsive" alt="">
                </p>
                <div class="caption">
                    <div class="blur"></div>
                    <div class="caption-text">
                        <h3 style="border-top:2px solid #eb2251; border-bottom:2px solid red; padding:10px;"> Others</h3>
                        <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                        <a class=" btn btn-default" href="~/Tour/RelatedPackages//"><span class="glyphicon glyphicon-plus"> Get Package</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="cuadro_intro_hover " style="background-color:#cccccc;margin-bottom: 20px;">
                <p style="text-align:center;">
                    <img src="~/images/6.jpg" class="img-responsive" alt="">
                </p>
                <div class="caption">
                    <div class="blur"></div>
                    <div class="caption-text">
                        <h3 style="border-top:2px solid #eb2251; border-bottom:2px solid red; padding:10px;">Kashmir Valley</h3>
                        <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                        <a class=" btn btn-default" href="~/Tour/RelatedPackages/"><span class="glyphicon glyphicon-plus"> Get Package</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="cuadro_intro_hover " style="background-color:#cccccc;margin-bottom: 20px;">
                <p style="text-align:center;">
                    <img src="~/images/7.jpg" class="img-responsive" alt="">
                </p>
                <div class="caption">
                    <div class="blur"></div>
                    <div class="caption-text">
                        <h3 style="border-top:2px solid #eb2251; border-bottom:2px solid red; padding:10px;">Naran Kaghan</h3>
                        <p>Loren ipsum dolor si amet ipsum dolor si amet ipsum dolor...</p>
                        <a class=" btn btn-default" href="~/Tour/RelatedPackages/"><span class="glyphicon glyphicon-plus"> Get Package</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cards End -->
<!-- Testimonial Start -->
<div id="test">
    <section class="testimonial-section2">
        <div class="row text-center">
            <div class="col-12">
                <div class="reviews">
                    <div class="h2">Reviews</div>
                </div>
            </div>
        </div>
        <div id="testim" class="testim">

            <!--         <div class="testim-cover"> -->
            <div class="wrap">

                <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
                <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
                <ul id="testim-dots" class="dots">
                    <li class="dot active"></li>
                    <!--
                    -->
                    <li class="dot"></li>
                    <!--
                    -->
                    <li class="dot"></li>
                    <!--
                    -->
                    <li class="dot"></li>
                    <!--
                    -->
                    <li class="dot"></li>
                </ul>
                <div id="testim-content" class="cont">
                    <div class="active">
                        <div class="img"><img src="https://image.ibb.co/hgy1M7/5a6f718346a28820008b4611_750_562.jpg" alt=""></div>
                        <div class="h4">Kellie</div>
                        <p>One of the traveling benefits is finding and keeping humility. Too often, people get wrapped up in their lives, their daily routine of working, sleeping, eating and living. They become self-absorbed to the point it affects their health, their happiness, and their perspective.</p>
                    </div>

                    <div>
                        <div class="img"><img src="https://image.ibb.co/cNP817/pexels_photo_220453.jpg" alt=""></div>
                        <div class="h4">Jessica</div>
                        <p>One of the traveling benefits is finding and keeping humility. Too often, people get wrapped up in their lives, their daily routine of working, sleeping, eating and living. They become self-absorbed to the point it affects their health, their happiness, and their perspective.</p>
                    </div>

                    <div>
                        <div class="img"><img src="https://image.ibb.co/iN3qES/pexels_photo_324658.jpg" alt=""></div>
                        <div class="h4">Kellie</div>
                        <p>One of the traveling benefits is finding and keeping humility. Too often, people get wrapped up in their lives, their daily routine of working, sleeping, eating and living. They become self-absorbed to the point it affects their health, their happiness, and their perspective.</p>
                    </div>

                    <div>
                        <div class="img"><img src="https://image.ibb.co/kL6AES/Top_SA_Nicky_Oppenheimer.jpg" alt=""></div>
                        <div class="h4">Jessica</div>
                        <p>One of the traveling benefits is finding and keeping humility. Too often, people get wrapped up in their lives, their daily routine of working, sleeping, eating and living. They become self-absorbed to the point it affects their health, their happiness, and their perspective.</p>
                    </div>

                    <div>
                        <div class="img"><img src="https://image.ibb.co/gUPag7/image.jpg" alt=""></div>
                        <div class="h4">Kellie</div>
                        <p>One of the traveling benefits is finding and keeping humility. Too often, people get wrapped up in their lives, their daily routine of working, sleeping, eating and living. They become self-absorbed to the point it affects their health, their happiness, and their perspective.</p>
                    </div>

                </div>
            </div>
        </div>
        <!--         </div> -->
    </section>
</div>