
@{
    ViewBag.Title = "AddPackage";
}
<div id="RegisterForm">
    <div class="container">
        <h1 class="form-heading"></h1>
        <div class="Register-form">
            <div class="main-div">
                <div class="panel" style="background-color: transparent;">
                    <h2>Add Packages</h2>
                </div>

                <form id="Register">

                    <div class="form-group">


                        <input type="name" class="form-control" id="inputName" placeholder="Name">

                    </div>

                    <div class="form-group">


                        <input type="name" class="form-control" id="inputName" placeholder="Category">

                    </div>

                    <div class="form-group">


                        <input type="name" class="form-control" id="inputName" placeholder="Places">

                    </div>

                    <div class="form-group">


                        <input type="name" class="form-control" id="inputName" placeholder="Expense">

                    </div>

                    <div class="form-group">


                        <input type="phone" class="form-control" id="inputPhone" placeholder="Phone Number">

                    </div>

                    <div class="form-group">

                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">

                    </div>

                    <div class="form-group">


                        <input type="cpassword" class="form-control" id="inputCPassword" placeholder="Confirm Password">

                    </div>

                    <div class="form-group">


                        <input type="secretQuestion" class="form-control" id="inputSecretQuestion" placeholder="Secret Question">

                    </div>

                    <div class="form-group">


                        <input type="secretAnswer" class="form-control" id="inputSecretAnswer" placeholder="Secret Answer">

                    </div>

                    <div action="/action_page.php" method="get" style="line-height: 2.428571; color: #fffefe;">

                        <input type="checkbox" name="IsTourGuide" value="TourGuide"> Are you a Tour Guide?

                    </div>

                    <a href="Login.html" type="submit" class="btn btn-primary">Register</a>

                    <div action="/action_page.php" method="get" style="line-height: 2.428571; color: #fffefe;">

                        <input type="checkbox" name="TermsAndCondition" value="TermsAndConditions"> I Agree with the <a href="TermsAndCondition.html"> Terms and Conditions</a>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</div>

