
@{
    ViewBag.Title = "AdminAccount";
}

<!-- Content Start -->

<div id="Admin_Account">
    <div class="container">
        <h1 class="AdminAccount"></h1>
        <div class="AdminAccount-form">

            <!--<img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="">-->

            <img id="profile-img" class="profile-img-card" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            <h2 class="Column2">Admin</h2>
            <!--<span class="glyphicon glyphicon-user" aria-hidden="true"></span>-->

            <p class="listText">List of Tourists</p>
            <div class="text-right">
                <button type="button" class="btn btn-primary btn-responsive">Show Tourists </button>
            </div>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="Column1">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Address</th>
                            <th scope="col">CNIC</th>
                            <th scope="col">Phone No</th>
                            <th scope="col">Password</th>
                            <th scope="col">Secret Question</th>
                            <th scope="col">Secret Answer</th>
                            <th scope="col">Account No</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mike</td>
                            <td>Mike44@Yahoo.com</td>
                            <td>4-D-California</td>
                            <td>35202-55728763-7</td>
                            <td>+44-68469290577</td>
                            <td>^KuH9UKI4</td>
                            <td>Question 4</td>
                            <td>I do!td>
                            <td>638268259-862</td>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Mike</td>
                            <td>Mike44@Yahoo.com</td>
                            <td>4-D-California</td>
                            <td>35202-55728763-7</td>
                            <td>+44-68469290577</td>
                            <td>^KuH9UKI4</td>
                            <td>Question 4</td>
                            <td>I do!td>
                            <td>638268259-862</td>

                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Mike</td>
                            <td>Mike44@Yahoo.com</td>
                            <td>4-D-California</td>
                            <td>35202-55728763-7</td>
                            <td>+44-68469290577</td>
                            <td>^KuH9UKI4</td>
                            <td>Question 4</td>
                            <td>I do!td>
                            <td>638268259-862</td>

                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Mike</td>
                            <td>Mike44@Yahoo.com</td>
                            <td>4-D-California</td>
                            <td>35202-55728763-7</td>
                            <td>+44-68469290577</td>
                            <td>^KuH9UKI4</td>
                            <td>Question 4</td>
                            <td>I do!td>
                            <td>638268259-862</td>

                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Mike</td>
                            <td>Mike44@Yahoo.com</td>
                            <td>4-D-California</td>
                            <td>35202-55728763-7</td>
                            <td>+44-68469290577</td>
                            <td>^KuH9UKI4</td>
                            <td>Question 4</td>
                            <td>I do!td>
                            <td>638268259-862</td>

                        </tr>
                    </tbody>
                </table>
            </div>

            <!--table2-->


            <p class="listText">List of Tour Guides</p>
            <div class="text-right">
                <button type="button" class="btn btn-primary btn-responsive">Verify </button>
                <button type="button" class="btn btn-primary btn-responsive">Show Tour Guide </button>
            </div>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="Column1">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Address</th>
                            <th scope="col">CNIC</th>
                            <th scope="col">Phone No</th>
                            <th scope="col">Password</th>
                            <th scope="col">Secret Question</th>
                            <th scope="col">Secret Answer</th>
                            <th scope="col">Account No</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mike</td>
                            <td>Mike44@Yahoo.com</td>
                            <td>4-D-California</td>
                            <td>35202-55728763-7</td>
                            <td>+44-68469290577</td>
                            <td>^KuH9UKI4</td>
                            <td>Question 4</td>
                            <td>I do!td>
                            <td>638268259-862</td>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Mike</td>
                            <td>Mike44@Yahoo.com</td>
                            <td>4-D-California</td>
                            <td>35202-55728763-7</td>
                            <td>+44-68469290577</td>
                            <td>^KuH9UKI4</td>
                            <td>Question 4</td>
                            <td>I do!td>
                            <td>638268259-862</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Mike</td>
                            <td>Mike44@Yahoo.com</td>
                            <td>4-D-California</td>
                            <td>35202-55728763-7</td>
                            <td>+44-68469290577</td>
                            <td>^KuH9UKI4</td>
                            <td>Question 4</td>
                            <td>I do!td>
                            <td>638268259-862</td>

                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Mike</td>
                            <td>Mike44@Yahoo.com</td>
                            <td>4-D-California</td>
                            <td>35202-55728763-7</td>
                            <td>+44-68469290577</td>
                            <td>^KuH9UKI4</td>
                            <td>Question 4</td>
                            <td>I do!td>
                            <td>638268259-862</td>

                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Mike</td>
                            <td>Mike44@Yahoo.com</td>
                            <td>4-D-California</td>
                            <td>35202-55728763-7</td>
                            <td>+44-68469290577</td>
                            <td>^KuH9UKI4</td>
                            <td>Question 4</td>
                            <td>I do!td>
                            <td>638268259-862</td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-right">
                <button type="button" class="btn btn-primary btn-responsive">Add Tours </button>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Places</th>
                            <th scope="col">Range</th>
                            <th scope="col">Tour Guide</th>
                            <th scope="col">Schedule</th>
                            <th scope="col">Vehicle</th>
                            <th scope="col">Hotel</th>
                            <th scope="col">Refreshments</th>
                            <th scope="col">Package Id</th>
                            <th scope="col">Tour Date</th>

                            <th scope="col">Cancel Tour </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Historical Area</td>
                            <td>Premium Package</td>
                            <td>Lahore</td>
                            <td>5000</td>
                            <td>Rahma Tahir</td>
                            <td>12pm-5pm</td>
                            <td>Car</td>
                            <td>Pearl Continental</td>
                            <td>3 time meal</td>
                            <td>Pkg-1</td>
                            <td>12-10-2018</td>

                            <td><button type="button" class="btn btn-primary">Cancel</button></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Historical Area</td>
                            <td>Premium Package</td>
                            <td>Lahore</td>
                            <td>5000</td>
                            <td>Rahma Tahir</td>
                            <td>12pm-5pm</td>
                            <td>Car</td>
                            <td>Pearl Continental</td>
                            <td>3 time meal</td>
                            <td>Pkg-2</td>
                            <td>12-10-2018</td>

                            <td><button type="button" class="btn btn-primary">Cancel</button></td>
                        </tr>

                    </tbody>
                </table>
            </div>


        </div>
    </div>

    <!-- Content End -->

