
@{
    ViewBag.Title = "GetPackage";
}

<div id="AllPackages">
    <div class="container">
        <h1 class="Packages">Package Confirmation</h1>
        <p class="listText">Package Details</p>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Places</th>
                        <th scope="col">Range</th>
                        <th scope="col">Tour Guide</th>
                        <th scope="col">Schedule</th>
                        <th scope="col">Vehicle</th>
                        <th scope="col">Hotel</th>
                        <th scope="col">Refreshments</th>
                        <th scope="col">Package Id</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Historical Area</td>
                        <td>Premium Package</td>
                        <td>Lahore</td>
                        <td>5000</td>
                        <td>Rahma Tahir</td>
                        <td>12pm-5pm</td>
                        <td>Car</td>
                        <td>Pearl Continental</td>
                        <td>3 time meal</td>
                        <td>Pkg-1</td>

                    </tr>

                </tbody>
            </table>
        </div>
        <div class="buttons">
            <div class="row">
                <div class="col-xs-10">
                    <div class="text-right">
                        <a href="~/Tour/AllPackages/"><button type="button" class="btn btn-primary btn-responsive">Back</button></a>
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="text-right">
                        <a href="~/Tour/PackageConfirmation/"><button type="button" class="btn btn-primary btn-responsive">Payment</button></a>
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="text-right">
                        <a href="~/Tour/AllPackages/"><button type="button" class="btn btn-primary btn-responsive">Confirm</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

