
@{
    ViewBag.Title = "RelatedPackages";
}

<div id="AllPackages">
    <div class="container">
        <h1 class="Packages">Related Packages</h1>
        <div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Places</th>
                            <th scope="col">Range</th>
                            <th scope="col">Tour Guide</th>
                            <th scope="col">Schedule</th>
                            <th scope="col">Vehicle</th>
                            <th scope="col">Hotel</th>
                            <th scope="col">Refreshments</th>
                            <th scope="col">Package Id</th>
                            <th scope="col">Package Selection</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Historical Area</td>
                            <td>Premium Package</td>
                            <td>Lahore</td>
                            <td>5000</td>
                            <td>Rahma Tahir</td>
                            <td>12pm-5pm</td>
                            <td>Car</td>
                            <td>Pearl Continental</td>
                            <td>3 time meal</td>
                            <td>Pkg-1</td>
                            <td><a href="~/Tour/GetPackage/"><button type="button" class="btn btn-primary btn-responsive">Select</button></a></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Historical Area</td>
                            <td>Premium Package</td>
                            <td>Lahore</td>
                            <td>5000</td>
                            <td>Rahma Tahir</td>
                            <td>12pm-5pm</td>
                            <td>Car</td>
                            <td>Pearl Continental</td>
                            <td>3 time meal</td>
                            <td>Pkg-2</td>
                            <td><a href="~/Tour/GetPackage/"><button type="button" class="btn btn-primary btn-responsive">Select</button></a></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Historical Area</td>
                            <td>Premium Package</td>
                            <td>Lahore</td>
                            <td>5000</td>
                            <td>Rahma Tahir</td>
                            <td>12pm-5pm</td>
                            <td>Car</td>
                            <td>Pearl Continental</td>
                            <td>3 time meal</td>
                            <td>Pkg-3</td>
                            <td><a href="~/Tour/GetPackage/"><button type="button" class="btn btn-primary btn-responsive">Select</button></a></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="text-left">
                <a href="~/Tour/AllPackages/"> <button type="button" class="btn btn-primary btn-responsive">More Packages</button></a>
            </div>
        </div>

    </div>
</div>
