@model ExploreTandT.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}
@Html.ValidationSummary("", new { @class = "text-danger" })
@Html.HiddenFor(model => model.Code)
<div id="ForgotPasswordForm">
    <div class="container">
        <h1 class="form-heading"></h1>
        <div class="ForgotPassword-form">
            <div class="main-div">
                <div class="panel" style="background-color: transparent;">
                    <h2>Reset Password</h2>
                    <p>Don't worry you can reset your password</p>
                </div>
                <form id="ForgotPassword">

                    <div class="form-group">


                        <input type="secretQuestion" class="form-control" id="inputSecretQuestion" placeholder="Secret Question">

                    </div>

                    <div class="form-group">


                        <input type="secretAnswer" class="form-control" id="inputSecretAnswer" placeholder="Secret Answer">

                    </div>

                    <div action="/action_page.php" method="get" style="line-height: 3.428571; color: #fffefe;">

                        <input type="checkbox" name="IsTourGuide" value="TourGuide"> Are you a Tour Guide?

                    </div>

                    <button type="submit" class="btn btn-primary">Check</button>

                    <div class="form-group">

                        <input type="newPassword" class="form-control" id="inputNewPassword" placeholder="New Password">

                    </div>

                    <div class="form-group">


                        <input type="cpassword" class="form-control" id="inputCPassword" placeholder="Confirm Password">

                    </div>

                    <a type="submit" class="btn btn-primary" href="Login.html">Reset</a>

                </form>
            </div>
        </div>
    </div>
</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
